.hero-section{
    display: flex;
    flex-direction: row;
  
  }
  
  .hero-section-left{
    font-size: 82px;
    font-weight: bold;
    font-family: "Comfortaa", cursive;
    margin-top: -80px;
  
  }
  
  .hero-section-right{

    margin-left: 300px;
    margin-top: -150px;
  
  
  }
  
  
  .kreative-span{
  
    color: rgb(178, 229, 123);
  
  }
  
  .coding-span{
    color: rgb(166, 162, 168);
  }
  
  .creation-span{
  
    color: rgb(229, 173, 173);
     
  }
  
  .more-span{
  
    color: rgb(211, 232, 237);
  
  }

  .robot-image{
  
    height: 500px;
  
  }